@charset "UTF-8";
body {
	width:100%;
	padding:0px;
	margin:0px; 
	color: white;
	background-color: #FF6200;
	text-decoration: none !important;
}
.header{
	display:block;
	background-color: #FF6200;
	text-align: center;
	font-family: 'Georgia';;

}
.img_1{
	
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.ct_head{
	overflow:hidden;
	background-color: #FF6200;
	box-shadow: 4px 4px 4px 0px rgba(0,0,0,.2);
	margin:0px;
	padding:0px 10px;
	
}
.header_right a{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 20px;
  font-family:'Brush Script MT';;
}

.header_right a:hover {
  background-color: #DB5400;
  color: ghostwhite;
}

.header_right a.active {
  background-color: #FF6200;
  color: white;
	
}
.middle{
	text-align: center;
	font-family: 'Georgia';
}
.row {
  display: flex;
  font-family: 'Georgia';
}

.content {
  flex: 50%;
}
footer{
	display:block;
	background-color: or;
	text-align: center;
	box-shadow: 0px -4px 4px 0px rgba(0,0,0,.2);
	font-family: 'Georgia';
	color:white;
	text-decoration: none;
}
.last{
	display:block;
	margin-left:auto;
	margin-right:auto;
}